.contact-form {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

form {
    margin:0 auto;
    width:459px;
}

input.input {
    width:439px;
	height:27px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	width:439px;
	height:100px;
	background-color: #efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

input.radio {
    font-size: 16px;
    font-weight: 400;
    background-color:#efefef;
    margin: 10px;
}

input:focus, textarea:focus {
    border: 1px solid #97d6eb;
}

#submit {
	width:127px;
	height:48px;
	text-align: center;
	border:none;
	margin:20px 0 20px 0;
	cursor:pointer;
}
	
#submit:hover {
	color:#fff;
	background-color: #216182;
	opacity:0.9;
}

#reset {
	width:127px;
	height:48px;
	text-align: center;
	border:none;
	margin:20px 0 20px 0;
	cursor:pointer;
}

#reset:hover {
	color:#fff;
	background-color: #000;
	opacity:0.9;
}