/*------------------------------------------------------------------

    Project:        Web Design Course Work
    Author:         Byurhan Beyzat
    Date:           4.4.2017
    Version:        1.0

-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


html, body {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;

    color: #131517;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



/*---------- Header Style ----------*/

header {
    width: 1583px;
    height: 150px;
    text-align: center;
    color: #fff;
    background-color: #131517;
}

header h1 {
    font-weight: 600;
    font-size: 36px; 
    color: #fff;
    position: absolute;
    left: 587.5px;    
    top: 30.5px;
}

header h1 span {
    font-weight: 600;
    font-size: 24px; 
    line-height: 20px;
    display: block;
}


/*---------- Navigation Style ----------*/

nav {
    width: 1583px;
    height: 50px;
    margin-top: 1px;
    text-align: center;
    display: inline-block;
    background-color: #131517;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
}

nav li a {
    transition: 0.3s;
    padding: 0 14px;  
    color: #fff;
}

nav li a:hover {
    color: #131517;
    background-color: #fff;
    padding: 15px 14px 11px 14px;
} 

/*------------- Main Style -------------*/

main {
    width: 1200px;
    height: 600px;
    margin: 1px 0 0 0;
    display: inline-block;
    border-right: 1px solid #131517;
}

h1.welcome {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0 0 0;
}

div.content {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 20px;
}

/*------------ Aside Style -------------*/

aside {
    width: 380px;
    height: 600px;
    margin: 1px 0;
    display: block;  
    position: absolute;
    right: 0px;
    top: 201px;
}

.about-widget {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px 5px;
}

h4.widget-title {
    font-size: 17px;
    font-weight: 400;
    margin: 0 30px;    
    padding: 7px;
    border: 2px solid #eee;
}

.about-widget img {
    margin: 10px 0 0 0;
}

.about-widget hr {
    width: 150px;
}

.about-widget p {
    color: #131517;
    line-height: 20px;
}

.contact-widget {
    font-size: 16px;
    font-weight: 400;
    padding: 0 5px;
    text-align: center;
}

.widget-icons {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.widget-icons ul li {
    display: inline-block;
}

.widget-icons li a {
    padding: 0 5px;  
    color: #131517;
}

.widget-icons a i {
    width: 30px;
	height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 50%;
}

.widget-icons li a i:hover {
    transition: 0.3s;
    width: 30px;
	height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #131517;
    border: 1px solid #131517;
    border-radius: 50%;
}
