html, body {
    width: 1583px;
    height: 770px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;

    color: #131517;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}